<!DOCTYPE html>
<html>
    <head>
        <title>Quests Of Legend</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        CONTENT GOES HERE
    </body>
</html>