<% include partials/header %>

<div class="container">

   <header class="jumbotron">
       <div class="container">
            <h1>All Quests Of Legend!</h1>
            <p>Enjoy all stories about Heroes and life!</p>
            <p>
               <a class="btn btn-primary btn-lg" href="/quests/new">Add new Quest!</a>
            </p>
       </div>
   </header>
   
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       <% quests.forEach(function(quest){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= quest.image %>">
                    <div class="caption">
                        <h4>  <%= quest.name %> </h4>                
                    </div>
                </div>
            </div>
       <% }); %>
   </div>
</div<
<% include partials/footer %>